
<body style="background-color: #2A2A2A;">
  <div class="wrapper col-xs-8 col-xs-offset-2" style="margin-top: 50px; color: white;">
    <h2>Experience And Hard Work</h2></br>
    <p>
      I am a recent graduate from California State University, San Bernardino in the field of Computer Engineering.
      As I attended college I found that I was very flexible in many fields such as robotics, hardware design, and programing.
      In the winter of 2014 I received the chance to work along side one of my professors, Dr. Concepcion; after excelling in his CSE 455 Software Engineering course.
      Dr. Concepcion gave me the opportunity to work on two of his highest priority projects "Red Folder" and "Case Aid".
      This internship taught me how to design mobile applications in both Android and iOS, how to communicate with clients, and lead a team a team of programmers to the successful creation of an app.
    </p>

    <h2>Even After Graduation I Continue To Advance My Skills</h2></br>
    <p>
      I found that I enjoyed working on apps so much that after I graduated I took the Udacity iOS Developer course.
      From here I have taken the initiative of a self starter and built my own application that incorporates everything that I have learned thus far in my pursuit to become a phenomenal iOS developer.
      The application's name is <em>"Bread Crumb"</em> and it is currently on the apple app store. You may also find a link to the project's repository under <em>"My Projects"</em>.
      </br>
      These days I work as a independent contractor for GitHub. I love this job because it gives me the inside look at how a modern day technology company is run and operated, and the environment is friendly and enthusiastic.
      In my free time I help local small businesses in Lake Elsinore California to develop their dream websites and applications. One such project can be found on the <em>"My Projects"</em> page.
    </p>
    <div style="float:left">
      <a href="mailto:arolson56@gmail.com?Subject=Portfolio%20Contact">Email: arolson56@gmail.com</a></br>
      <a href="tel:9512839806">Phone: (951) 283-9806</a>
    </div>
  </div>
</body>
